.porfelis-intro {
    width: 100%;
    max-width: 1400px;
    height: 350px;
    border-radius: 20px;
    background-color: #0C1A3A;
    margin: 0 auto;
    margin-top: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.porfelis-intro h2 {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 77px;
    font-weight: 700;
    line-height: 90.13px;
    letter-spacing: 0.01em;
    color: #FBFBFB;
    text-align: center;
}

.portfelis-darbai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 50px;
    width: 100%;
}



.portfelis-darbai h3 {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 35.13px;
    color: #0c1a3a;
    margin-top: 20px;
    margin-bottom: 0;
}

.portfelis-darbai p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}


@media (max-width: 1394px) {
.porfelis-intro {
    width: 90%;
}
@media (max-width: 1025px) {
.porfelis-intro {
    margin-top: 150px;
}
}
    }
@media (max-width: 768px) {
    .porfelis-intro {
        width: 80%;
        height: auto;
        padding: 20px;
    }

    .porfelis-intro h2 {
        font-size: 35px;
        line-height: 60px;
    }

    .portfelis-darbai {
        gap: 20px;
    }
    .portfelis-darbai img{
        width:  80%;
        

    }

    .portfelis-darbai-left1, .portfelis-darbai-left2, .portfelis-darbai-left3, .portfelis-darbai-right1, .portfelis-darbai-right2, .portfelis-darbai-right3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }


    .portfelis-darbai-right1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .portfelis-darbai-right1 a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .portfelis-darbai h3 {
        width: 400px;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }


    .portfelis-darbai p {
        width: 400px;
        font-size: 16px;
        margin: 0;
        text-align:center;
    
    }

}


@media (max-width: 480px) {
    .porfelis-intro h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .portfelis-darbai h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .portfelis-darbai p {
        font-size: 14px;
        line-height: 18px;
    }
}
