
.kontaktai {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    max-width: 1400px;
    margin: 0 auto;
}

.kontaktai hr {
    border: 1px solid #dfdfdf;
}

.kontaktai-left{
max-width: 468px;
}

.kontaktai-left h3 {

font-family: 'Roboto Serif', sans-serif;
font-size: 64px;
font-weight: 600;
line-height: 74.94px;
text-align: left;
margin: 0;
color: #0C1A3A;
}

.kontaktai-left p {
font-size: 18px;
font-weight: 400;
letter-spacing: 0.03em;
color: #0C1A3AE5;
}

.kontaktu-blokas{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
}

.kontaktai-left1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.kontaktai-left2{
    padding-left: 20px;

}

.kontaktai-left2 h4{
margin: 0;
padding-top: 10px;
font-family: 'Roboto Serif', sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 23.42px;
text-align: left;
color: #0C1A3A;
}

.kontaktai-left2 p {
    margin: 0;
    margin-bottom: 15px;
}

.kontaktai-left2 a {
    color: #0C1A3A;
    text-decoration: none;
}
.kontaktai-left2 a:hover{
    text-decoration: underline;
}

.miniIcons img {
margin-top: 20px;    
margin-right: 40px;
cursor: pointer;
}


.kontaktai-right {
    width: 795px;
    height: 527px;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space evenly */
}

.kontaktai-right p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #0C1A3AE5;
    margin: 0 0 10px 0;
}

.duomenys {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1; /* Allow it to grow and take available space */
}

.forma1, .forma2 {
    width: 48%;
}

.forma1 input, .forma2 input, textarea {
    width: calc(100% - 30px); 
    border: none;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f4f4f4;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    outline: none;
    padding: 5px; 
}

textarea {
    resize: none;
}

.kontaktai-right button {
    align-self: flex-start;
    width: 139px;
    padding: 15px 0;
    font-size: 16px;
    color: #fff;
    background-color: #0C1A3A;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Adjust this value as needed */
}

.kontaktai-right button:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}


.zemelapis {
    display: flex;
    align-items: center;
justify-content: center;
margin: 100px 0 100px 0;
}
