/* Existing styles */
.footer {
  background-color: #0c1a3a;
  max-width: 1921px;
  height: 604px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1400px;
  height: 253px;
  max-width: 100%;
  max-height: 100%;
  margin-top: 100px;
}

.footer1-1 {
  display: flex;
  flex-direction: column;
  width: 357px;
  height: 145px;
  max-width: 100%;
  max-height: 100%;
}

.footer1-1 img {
  width: 174px;
  height: 52px;
}

.footer1-1 p {
  font-weight: 400;
  font-size: 18px;
}

.footer1-2 {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 179px;
  padding-right: 40px;
}

.footer1-2 h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-left: 42px;
}

.footer1-2 ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer1-2 ul li {
  list-style: none;
}

.footer1-2 ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 20px;
}

.footer1-2 ul li a:hover {
  text-decoration: underline;
}

.footer1-3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  width: 363px;
  height: 253px;
}

.footer1-3 h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Roboto Serif", sans-serif;
}

.footer1-3 a {
  color: #fff;
  text-decoration: none;
}

.footer1-3 a:hover:hover {
  text-decoration: underline;
}

.footer1-4 {
  display: flex;
  flex-direction: column;
  width: 443px;
  height: 109px;
}

.footer1-4 h3 {
  font-family: "Roboto Serif", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.footer1-4-1 {
  display: flex;
  flex-direction: column;
  width: 443px;
  height: 109px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 65%;
  height: 67px;
  border-radius: 40px;
  border: none;
  padding-right: 160px; /* Pridėkite pakankamai vietos mygtukui */
}

.input-container input::placeholder {
  color: #0c1a3ae5;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.input-container button {
  position: absolute;
  right: 10px; /* Atstumas nuo dešinio krašto */
  top: 50%;
  transform: translateY(-50%);
  height: 47px;
  border-radius: 23px;
  background-color: #0c1a3a;
  color: #ffffffe5;
  border: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.input-container button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.juosta hr {
  width: 1400px;
  max-width: 100%;
  opacity: 40%;
  border: 1px solid #f4f4f4;
  margin-top: 80px;
}

.footer2 {
  width: 1400px;
  height: 60px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.footer2 h3 {
  margin-top: 0;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #f4f4f4;
}

.footer2 p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.footer2 a {
  color: #fff;
  text-decoration: none;
}

.footer2 a:hover {
  text-decoration: underline;
}

.footer2-4 img {
  margin-left: 29px;
  cursor: pointer;
}

.footer2-4 img:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

/* Responsive styles */
@media (max-width: 1470px) {
.input-container {
  width: 88%;
}

.input-container input {
  width: 60%;
  height: 67px;
  padding-right: 160px;
}

.input-container input::placeholder {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.input-container button {
  right: 15px; /* Atstumas nuo dešinio krašto */
  transform: translateY(-50%);
  height: 47px;
  font-size: 17px;
  font-weight: 400;

}

.juosta hr {
  width: 1200px;
}

.footer2{
justify-content: space-around;
}
 
  }
@media (max-width: 1225px) {

.juosta hr {
  width: 1000px;
}
.input-container {
  width: 60%;
}

.input-container input {
  width: 50%;
  height: 60px;
  padding-right: 160px;
}

.input-container input::placeholder {
  font-weight: 200;
  width: 140px;
  font-size: 14px;
  letter-spacing: 0em;
}

.input-container button {
  right: -20px; /* Atstumas nuo dešinio krašto */
  transform: translateY(-50%);
  height: 47px;
  font-size: 15px;
  font-weight: 300;

}
.footer2{
justify-content: center;
gap: 20px;
}

.footer h3 {
  font-weight: 400;
  font-size: 18px;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
}
.footer a {
  font-weight: 400;
  font-size: 14px;
}

  }


@media (max-width: 1030px) {

.juosta hr {
  width: 800px;
}
.footer1 {
  margin-bottom: 50px;
}

}


@media (max-width: 940px) {
.footer1-3{
  display: none;
}
.footer1 {
  margin-bottom: -50px;
  gap: 50px;
}
.footer{
  height: 500px;
}

}


@media (max-width: 940px) {
.footer1-1 p {
  display: none;
}
  .footer1-4{
    width:300px ;
  }
  .footer1-4-1{
    width:300px ;
  }

  .input-container {
  width: 60%;
}

.input-container input {
  width: 50%;
  height: 60px;
  padding-right: 160px;
}

.input-container input::placeholder {
  font-weight: 200;
  width: 140px;
  font-size: 14px;
  letter-spacing: 0em;
}

.input-container button {
  right: -65px; /* Atstumas nuo dešinio krašto */
  transform: translateY(-50%);
  height: 47px;
  font-size: 12px;
  font-weight: 300;

}
.footer1-1 {
  width: 200px;
}

.footer1{
  margin-top: 0;
  justify-content: space-around;
  align-items: center;
}

.footer{
  height: 400px;
}

.footer2 h3 {
  font-weight: 200;
  font-size: 15px;
}
.footer2 p {
  font-weight: 100;
  font-size: 12px;
}
.footer2 a {
  font-weight: 100;
  font-size: 12px;
}
.footer2 img {
  width: 35px;
}
.juosta hr {
  width: 600px;
}
}


@media (max-width: 750px) {


  .footer1-4-1 {
  width: 250px;
}
.input-container button {
  right: -80px; 
  transform: translateY(-50%);
  height: 47px;
  font-size: 12px;
  font-weight: 300;

}

}


@media (max-width: 750px) {

  .footer{
    height: 1000px;
  }

.footer1{
flex-direction: column;
margin-bottom: 200px;
margin-top: 50px;
}

.footer1-2{
  padding-right: 0;
}

.footer1-4{
padding-left: 60px;
}
.footer2{
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  text-align: center;
}
.juosta hr {
  width: 400px;
}

}
