.procesas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  height: 544px;
  margin: 0 auto;
  padding-bottom: 300px;
}

.procesas h3 {
  font-family: "Roboto Serif", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #ff6600;
  margin: 0;
  padding-top: 250px;
}

.procesas h2 {
  width: 853px;
  height: 150px;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  color: #0c1a3a;
  text-align: center;
  margin-top: 25px;
}

.naujausiDarbai {
  max-width: 1400px;
  height: 1384px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.naujausiDarbai h2 {
  text-align: center;
  font-family: "Roboto Serif", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 74.94px;
  color: #0c1a3a;
}

.darbai {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.darbai h3 {
  font-family: Roboto Serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 35.13px;
  text-align: left;
  color: #0c1a3a;
  margin-top: 20px;
  margin-bottom: 0;
}

.darbai p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-bottom: 50px;
}
.darbai-right {
  margin-top: 50px;
  align-items: flex-end;
}

.darbai-right button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 48px;
  border-radius: 23px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  background-color: #0c1a3ae5;
  color: #fff !important;
  margin: 10px;
  margin-left: auto;
}
.darbai-right button:hover {
  background-color: #ff6600 !important;
  color: #fff;
}
.darbai-right button img {
  width: 28px;
  height: 28px;
  margin-right: 20px;
}
