.vidinis-contentas1 {
    width: 1400px;
    max-width: 100%;
    height: 779px;
    margin: 0 auto;
    margin-top: 150px;
    
}

.vidinis-contentas1 h3{
    color: #0C1A3A;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 80px;
}
.vidinis-contentas1 p{
    color: #0C1A3AE5;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.03em;
}

.vidinis-contentas2 {
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
    gap: 80px;
    flex-wrap: wrap;
}

.vidinis-contentas2 img {
    max-width: 100%;
    height: auto;

}

@media (max-width: 1240px) {
    .vidinis-contentas1 {
        margin-bottom: 100px;
    }
}
@media (max-width: 994px) {
 .vidinis-contentas2{
    margin-top: 200px;
 }
}
@media (max-width: 800px) {
 .vidinis-contentas2{
    margin-top: 300px;
 }
}
@media (max-width: 660px) {
 .vidinis-contentas2{
    margin-top: 400px;
 }
}
@media (max-width: 565px) {
 .vidinis-contentas2{
    margin-top: 500px;
 }
}
@media (max-width: 520px) {
 .vidinis-contentas2{
    margin-top: 600px;
 }
}

